@import "settings/mixin";
@import "settings/base";

@import "components/button";
@import "components/navigation_menu";
@import "components/page_header";
@import "components/header";
@import "components/footer";
@import "components/product_pill";
@import "components/numbers";
@import "components/cart";

@import "page/home";
@import "page/product-details";

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  flex: 1;
}